<ul class="users">
  <li *ngFor="let u of user">
    
    <img class="user-img" src="{{u.picture.medium}}">
    <div class="user-info">
      <span class="badge">{{ u.name.title }} {{ u.name.first }} {{ u.name.last }}</span>
      <span class="badge">{{ u.gender }}</span>
      <span class="badge">{{ u.email }}</span>
      <span class="badge">{{ u.location.city }} ({{u.location.country}})</span>
    </div>
    
    <div class="forecast" *ngIf="u.weather">
      <app-weather [data]="u.weather"></app-weather>
    </div>
    <button *ngIf="!isUsersList && !userIsSaved" type="button" class="save" title="save user"
      (click)="saveUser(u)">
      Save User
    </button>
  </li>
</ul>